.commentSection {
  margin-top: 20px;
}

.commentItem {
  display: flex;
  flex-direction: row;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;

  & .commentHeader {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  & .commentAuthor {
    margin-right: 10px;
    color: #1890ff; // Ant Design primary color
  }

  & .commentDate {
    font-size: 12px;
    color: #888; // Gray color for the date
  }

  & .commentContent {
    font-size: 14px;
    line-height: 1.5;
  }
}
.form {
  margin-top: 30px;
}