.footer {
  background-color: #001529;
  color: #fff;
  padding: 20px;
  text-align: center;

  .footertext {
    font-size: 16px;
  }

  .socials {
    margin-top: 10px;

    a {
      color: #fff;
      font-size: 20px;
      margin: 0 10px;
      transition: color 0.3s;

      &:hover {
        color: #1890ff;
      }
    }
  }
}

@media (max-width: 768px) {
  .socials {
    margin-top: 20px;
    a {
      margin: 5px;
    }
  }
}
