.registerContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/A3QP5leLNWFwyZGR/soho-carousel-image-6-YNqpwbwxXZiR512r.jpg') no-repeat center center;
  background-size: cover;
  position: relative;
}

.registerOverlay {
  background-color: rgba(255, 255, 255, 0.85); // White background with 85% opacity
  padding: 40px 30px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.registerCard {
  background: transparent; // Ensuring background is transparent since the opacity is set on the overlay
}

.registerTitle {
  text-align: center;
  color: #333;
}

.registerForm {
  margin-top: 20px;
}

.inputField {
  border-radius: 8px;
}

.icon {
  color: rgba(0, 0, 0, 0.25);
}

.registerButton {
  background-color: #2575fc;
  border: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1c64da;
  }
}

.extraLinks {
  margin-top: 10px;
  text-align: center;

  a {
    color: #2575fc;
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
      color: #1c64da;
    }
  }
}
